<div id="main-menu" class="menu-container fade-in">
  <div class="card">
    <div class="card-header">🤝 Совместное приключение</div>
    <p>
      Играйте вдвоем! Один игрок управляет княжной Пулпулак, другой - таинственной 
      "сестрой" (помощницей ведьмы). У каждого персонажа свои цели и секреты.
    </p>
    <p>
      <strong>🎭 Роли:</strong><br>
      <span style="color: #8b0000;">👑 Княжна</span> - главная героиня, ищет правду<br>
      <span style="color: #155724;">🧙‍♀️ Помощница</span> - хранит секреты ведьмы
    </p>
  </div>
  
  <button class="btn btn-primary btn-large" data-action="create-room">
    🏠 Создать комнату
  </button>
  
  <div class="text-center mt-2">
    <input type="text" id="roomInput" class="input-field" placeholder="ID комнаты" maxlength="10">
    <br>
    <button class="btn btn-primary btn-large" data-action="join-room">
      🚪 Присоединиться
    </button>
  </div>  
</div>
